<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Myapp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MinechapApp"
        tools:targetApi="31"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules">
    <activity
        android:name=".SplashActivity"
        android:exported="true"
        android:theme="@style/Theme.MinechapApp.Splash">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
    <activity
        android:name=".Login"
        android:exported="true" />
    <activity
        android:name=".RegisterActivity"
        android:exported="true" />
    <activity
        android:name=".chatActivity"
        android:exported="true" />
    <activity
        android:name=".UsuariosActivos"
        android:exported="true" />
    <activity
        android:name=".GrupoChatActivity"
        android:exported="true" />
    <activity
        android:name=".NombreGrupoActivity"
        android:exported="true" />
    <activity
        android:name=".inicioActivity"
        android:exported="true" />
        <activity
        android:name=".GrupoActivity"
        android:exported="true" />
</application>
    </manifest>
